* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 10vh;
    color: #d9b100;
}

body {
    text-align: center;
    background-color: #ffffff;
}

.mainBox {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subBox {
    height: 60vmin;
    width: 61vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}

.box {
    height: 19vmin;
    width: 19vmin;
    border-radius: 50%;
    border: 2px solid #d9b100;
    background-color: #181717;
    color: #d9b100;
    font-size: 80px;
}

.windiv {
    height: 100vmin;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 5vmin;
}

.hide {
    display: none;
}

.winpara {
    font-size: 90px;
    color: #d9b100;
}

#startbtn {
    width: 20%;
    padding: 1% 2%;
    font-size: 40px;
}

.btn {
    border: 2px solid #d9b100;
    background-color: #000000;
    color: white;
    cursor: pointer;
    font-size: large;
    border-radius: 1em;
}

#ReStartbtn {
    margin-top: 2%;
    padding: 1.3% 3%;
    font-size: 35px;
}

button:hover.btn {
    color: #d9b100;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 8vh;
    }

    .box {
        font-size: 40px;
    }

    .winpara {
        font-size: 10vh;
    }

    .mainBox {
        height: 60vh;
    }

    #startbtn {
        width: 30%;
        font-size: 18px;
    }

    #ReStartbtn {
        padding: 1% 2%;
        font-size: 25px;
    }
}

@media screen and (max-width: 300px) {
    h1 {
        font-size: 6vh;
    }

    .mainBox {
        height: auto;
        padding: 5%;
    }

    .subBox {
        width: 90vw;
        height: auto;
        padding: 5%;
        gap: 5%;
    }

    .box {
        height: 13vh;
        width: 13vh;
        font-size: 35px;
    }

    #startbtn {
        width: 50%;
        padding: 2% 5%;
        font-size: 25px;
    }

    #ReStartbtn {
        padding: 1.5% 3%;
        font-size: 20px;
    }
}